.tech__dialog {
    background-color: rgba(0, 0, 0, 0.2);;
    position: fixed;
    inset: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech__box {
    width: 400px;
    border-radius: 4px;
    background-color: var(--grey-3);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
}

.tech__header {
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0px 0px;
    background-color: var(--grey-2);
    padding: 10px 20px 10px;
}

.tech__header--title {
    color: #fff;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 700;
}

.tech__header--button {
    color: var(--grey-1);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    border: transparent;
    background-color: transparent;
}

.tech__header--button:hover {
    cursor: pointer;
}



.tech__form {
    display: flex;
    flex-direction: column;
    margin: 5px 20px 10px;
}

.tech__submit {
    background: var(--color-primary);
    border-radius: 4.061px;
    border: 1.218px solid var(--color-primary);
    color: var(--grey-0);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    margin: 20px 0 20px;
}

.tech__submit:hover {
    cursor: pointer;
}